@import 'tailwindcss';

@source inline("{hover:,}bg-{purple,lime,orange,pink,blue,teal}-{200}");

body,
#root {
  width: 100%;
  height: 100vh;
}

.bg-cream {
  background-color: rgb(246 244 239 / var(--tw-bg-opacity, 1));
}
